<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Proyecto WEb III</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<style>

</style>
<body>
<div class="container">
	<header>
		<nav>
			<a href=""><strong>Django</strong></a>
			<a href="">clientes</a>
			<a href="">tiendas</a>
			<a href="">compras</a>
		</nav>
	</header>
	<div class="cuerpo">
		{% block content %}
		{% endblock %}
	</div>
	<footer>
		<p>©Grupo 5</p>
	</footer>
</div>
</body>
</html>