{% extends 'base.html' %}

{% block content %}
Usuario: {{ user.username }}
{% if user.is_superuser %}
<h1>LISTADO DE EVENTOS</h1>
<table>
	<thead>
		<tr>
			<th>id_evento</th><th>nombre_evento</th><th>proposito</th><th>fecha_evento</th>
		</tr>
	</thead>
	<tbody>
		{% for evento in eventos %}
		<tr>
			<td>{{ evento.id_evento }}</td>
			<td>{{ evento.nombre_evento }}</td>
			<td>{{ evento.proposito }}</td>
			<td>{{ evento.fecha_evento }}</td>
			{% if user.username == 'admin'%}
			<td><a href="{% url 'eliminar_evento' evento.id_evento %}">Eliminar</a></td>
			{% endif %}
			<td><a href="{% url 'modificar_evento' evento.id_evento %}">Modificar</a></td>
		</tr>
		{% endfor%}
	</tbody>
</table>
<a href="{% url 'crear_evento' %}">Nuevo Evento</a>
{% else %}
<h2>Ud no tiene permiso para la app ong</h2>
{% endif %}
{% endblock %}