{% extends 'Front_end/base.html' %}

{% block content %}
<div class="ong">
{% if user.is_authenticated %}
<h1>LISTADO DE VOLUNTARIOS</h1>
<table>
	<thead>
		<tr>
			<th>id_voluntario</th><th>ci</th><th>nombre</th><th>apellido</th><th>fecha_nacimiento</th><th>correo</th><th>telefono</th>
		</tr>
	</thead>
	<tbody>
		{% for voluntario in voluntarios %}
		<tr>
			<td>{{ voluntario.id_voluntario }}</td>
			<td>{{ voluntario.ci }}</td>
			<td>{{ voluntario.nombre }}</td>
			<td>{{ voluntario.apellido }}</td>
			<td>{{ voluntario.fecha_nacimiento }}</td>
			<td>{{ voluntario.correo }}</td>
			<td>{{ voluntario.telefono }}</td>
			{% if user.is_superuser  %}
			<td><a href="{% url 'eliminar_voluntario' voluntario.id_voluntario %}">Eliminar</a></td>
			<td><a href="{% url 'modificar_voluntario' voluntario.id_voluntario %}">Modificar</a></td>
			<td><a href="{% url 'eventos_participados' voluntario.id_voluntario %}">Eventos Participados</a></td>
			<td><a href="{% url 'horas_acumuladas' voluntario.id_voluntario %}">Horas Acumuladas</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% if user.is_superuser %}
<a href="{% url 'nuevo_voluntario' %}">Nueva voluntario</a>
{% endif %}

{% else %}
<h2>Ud no tiene permiso para la app ong</h2>
{% endif %}
</div>
{% endblock %}