{% extends 'Front_end/index.html' %}
{# {% extends 'appong/base.html' %} #}

{% block content %}
<div class="ong">
{% if user.is_authenticated %}
<h1>LISTADO DE VOLUNTARIOS</h1>
<ul>
	<li><a href="{% url 'horas_acumuladas' %}">Horas acumuladas</a></li>
</ul>
<table>
	<thead>
		<tr>
			<th>id_voluntario</th><th>nombre</th><th>apellido</th><th>rol</th><th>ci</th><th>correo</th><th>horas_acumuladas</th>
		</tr>
	</thead>
	<tbody>
		{% for voluntario in voluntarios %}
		<tr>
			<td>{{ voluntario.id_voluntario }}</td>
			<td>{{ voluntario.nombre }}</td>
			<td>{{ voluntario.apellido }}</td>
			<td>{{ voluntario.rol }}</td>
			<td>{{ voluntario.ci }}</td>
			<td>{{ voluntario.correo }}</td>
			<td>{{ voluntario.horas_acumuladas }}</td>
			{% if user.is_superuser %}
			<td><a href="{% url 'eliminar_voluntario' voluntario.id_voluntario %}">Eliminar</a></td>
			<td><a href="{% url 'modificar_voluntario' voluntario.id_voluntario %}">Modificar</a></td>
			<td><a href="{% url 'cambiar_rol' voluntario.id_voluntario %}">Cambiar rol</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% if user.is_superuser %}
<a href="{% url 'crear_voluntario' %}">Nueva voluntario</a>
{% endif %}

{% else %}
<h2>Ud no tiene permiso para la app ong</h2>
{% endif %}
</div>
{% endblock %}