<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Proyecto WEb III</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'appAsistencia/css/styles.css' %}">
	{% block estilos_css %} {% endblock %}
</head>
<style>

</style>
<body>
<div class="container">
	<header>
		<nav>
			<a href="{% url 'principal' %}"><strong>Django</strong></a>
			<a href="{% url 'listar_eventos' %}">Eventos</a>
			<a href="{% url 'listar_voluntarios' %}">Voluntarios</a>
			<a href="{% url 'listar_inscritos' %}">Inscritos</a>
			<a href="{% url 'listar_asistencias' %}">Lista Asistencias</a>
		</nav>
		<nav>
			<a href="{% url 'index' %}">Volver</a>
		</nav>
	</header>
	<div class="cuerpo">
		{% block content %}
		{% endblock %}
	</div>
	<footer>
		<p>©Grupo 5</p>
	</footer>
</div>
</body>
</html>