{% extends "Front_end/base.html" %}
{% block content %}
{% if user.is_authenticated %}
	<style>
        @keyframes miAnimacion {
          0%   {text-shadow:
                2px 2px 0px black,
                -2px 2px 0px black,
                2px -2px 0px black,
                -2px -2px 0px black;}
          50%  {text-shadow:
                20px 20px 0px black,
                -2px 2px 0px black,
                2px -2px 0px black,
                -2px -2px 0px black;}
          100% {text-shadow:
                10px 10px 0px black,
                -2px 2px 0px black,
                2px -2px 0px black,
                -2px -2px 0px black;}
        }
        @keyframes miAnimacion2 {
          0% {
            filter: blur(10px);
          }
          100% {
            filter: blur(0);
          }
        }
        .cuerpo strong {
            color: white;
            font-size: 150px;
            text-shadow:
                10px 10px 0px black,
                -2px 2px 0px black,
                2px -2px 0px black,
                -2px -2px 0px black;
            animation-name: miAnimacion;
            animation-duration: 1.5s;
        }
        body {
          animation-name: miAnimacion2;
          animation-duration: 1s;
        }
	</style>
	<strong>BIENVENIDO</strong>
  <h1>A LA AGENDA DE VOLUNTARIOS</h1>
  <a href="{% url 'intro' %}">EMPEZAR</a>
{% else %}
  <p>Acceso restringido.</p>
{% endif %}
{% endblock %}