{% extends 'appAsistencia/base.html' %}

{% block content %}
Usuario: {{ user.username }}
{% if user.is_superuser %}
<h1>LISTADO DE INSCRITOS</h1>
<table>
	<thead>
		<tr>
			<th>id_inscrito</th><th>nombre</th><th>apellido</th><td>ci</td><td>fecha_nacimiento</td>
		</tr>
	</thead>
	<tbody>
		{% for inscrito in inscritos %}
		<tr>
			<td>{{ inscrito.id_inscrito }}</td>
			<td>{{ inscrito.nombre }}</td>
			<td>{{ inscrito.apellido }}</td>
			<td>{{ inscrito.ci }}</td>
			<td>{{ inscrito.fecha_nacimiento }}</td>
			{% if user.is_superuser or user.username == 'admin'%}
			<td><a href="{% url 'eliminar_inscrito' inscrito.id_inscrito %}">Eliminar</a></td>
			{% endif %}
			<td><a href="{% url 'modificar_inscrito' inscrito.id_inscrito %}">Modificar</a></td>
		</tr>
		{% endfor%}
	</tbody>
</table>
<a href="{% url 'crear_inscrito' %}">Nueva inscrito</a>
{% else %}
<h2>Ud no tiene permiso para la app ong</h2>
{% endif %}
{% endblock %}

