{% extends 'Front_end/base.html' %}

{% block content %}
{% if user.username == 'admin' or user.username == 'admin2' %}
<div class="ong">
<h2>Voluntario: {{ inscripcion.voluntario }}</h2>
<h2>Evento: {{ inscripcion.evento}}</h2>
<form method="POST">
    {% csrf_token %}
    <label for="rol">Ingrese el nuevo rol:</label>
    <input type="text" name="rol" placeholder="{{ inscripcion.rol }}">
    <button type="submit">Aceptar</button>
    <a href="{% url 'inscripciones' %}" class="cancel-link">
        Cancelar
    </a>
</form>
</div>
{% else %}
<h2>Ud no tiene permiso para la app ong</h2>
{% endif %}
{% endblock %}


