{% extends 'Front_end/base.html' %}

{% block content %}
{% if user.username == 'admin' or user.username == 'admin2' or user.username == 'operador01' or user.username == 'operador02' or user.username == 'operador03' %}
<h1>LISTADO DE INSCRIPCIONES</h1>
<table>
	<thead>
		<tr>
			<th>id_inscripcion</th><th>evento</th><th>voluntario</th><th>rol</th></th>
		</tr>
	</thead>
	<tbody>
		{% for inscripcion in inscripciones %}
		<tr>
			<td>{{ inscripcion.id_inscripcion }}</td>
			<td>{{ inscripcion.evento }}</td>
			<td>{{ inscripcion.voluntario }}</td>
			<td>{{ inscripcion.rol  }}</td>
			{% if user.username == 'admin' or user.username == 'admin2' %}
			<td><a href="{% url 'eliminar_inscripcion' inscripcion.id_inscripcion %}">Eliminar</a></td>
			<td><a href="{% url 'modificar_inscripcion' inscripcion.id_inscripcion %}">Modificar</a></td>
			<td><a href="{% url 'cambiar_rol' inscripcion.id_inscripcion %}">Cambiar Rol</a></td>
			{% endif %}
		</tr>
		{% endfor%}
	</tbody>
</table>
{% if user.username == 'admin' or user.username == 'admin2' %}
<a href="{% url 'nueva_inscripcion' %}">Nueva inscripcion</a>
{% endif %}
{% else %}
<h2>Ud no tiene permiso para la app ong</h2>
{% endif %}
{% endblock %}