{% extends 'Front_end/index.html' %}
{# {% extends 'appong/base.html' %} #}

{% block content %}
{% if user.is_authenticated %}
<h1>LISTADO DE EVENTOS</h1>
<table>
	<thead>
		<tr>
			<th>id_evento</th><th>nombre</th><th>proposito</th><th>fecha_inicio</th><th>fecha_fin</th>
		</tr>
	</thead>
	<tbody>
		{% for evento in eventos %}
		<tr>
			<td>{{ evento.id_evento }}</td>
			<td>{{ evento.nombre }}</td>
			<td>{{ evento.proposito }}</td>
			<td>{{ evento.fecha_inicio }}</td>
			<td>{{ evento.fecha_fin }}</td>
			{% if user.is_superuser %}
			<td><a href="{% url 'eliminar_evento' evento.id_evento %}">Eliminar</a></td>
			<td><a href="{% url 'modificar_evento' evento.id_evento %}">Modificar</a></td>
			<td><a href="{% url 'hoja_asistencia_evento' evento.id_evento %}">Hoja de Asistencia</a></td>
			{% endif %}
		</tr>
		{% endfor%}
	</tbody>
</table>
{% if user.is_superuser%}
<a href="{% url 'nuevo_evento' %}">Nuevo Evento</a>
{% endif %}
{% else %}
<h2>Ud no tiene permiso para la app ong</h2>
{% endif %}
{% endblock %}